extends ../shared/template
block content
  h1 People
  a(href="/person/new") Create a new person
  p
  ul
    each person in people
      li
        a(href=`/person/${person.id}/show`)= person.name
      img(src=person.photo).indexImg
