extends ../shared/template
block content
  h1 Person details
  table
    tr
      td
        label.createLabelWidth Name:
        input#name(type='text', name='name').createControlWidth
    tr
      td
        label.createLabelWidth Age:
        input#age(type='text', name='age').createControlWidth
    tr
      td
        label.createLabelWidth Gender:
        select#gender(name='gender').createControlWidth
          option(value='male') Male
          option(value='female') Female
    tr
      td
        label.createLabelWidth Money:
        input#money(type='text' name='money').createControlWidth
    tr
      td
        label.createLabelWidth Photo:
        input#photo(type='text' name='photo').createControlWidth
    tr
      td
        img(src='/images/person/silhouette.jpg').createPhoto
